@import 'variables';

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  letter-spacing: 0;
  font-weight: $fw-bold;
}

h1 {
  @extend ._36;
}

h2 {
  @extend ._30;
}

h3 {
  @extend ._24;
}








