@import "../../styles/base";

.header {

  background-color: $c2;

  &__container {
    @extend .container;
    padding: 2rem 4rem;

  }

  &__logo {
    @extend ._18;
    color: $c3;
    font-weight: $fw-bold;
  }
}